@font-face {
    font-family: "Monocraft";
    src: url("./fonts/Monocraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Minecraft";
    src: url("./fonts/MinecraftTen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-main: "Monocraft", monospace;
    --font-big: "Minecraft", monospace;
}

.inicio {
    text-align: center;
    align-items: center;
    margin-top: 4.5rem;
}

.about {
    text-align: center;
    align-items: center;
    margin-top: 4.5rem;
}

.projects {
    text-align: center;
    align-items: center;
    margin-top: 4.5rem;
}

.skin {
    width: 15rem;
    height: 15rem;
}

body {
    font-family: var(--font-main);
    background-image: url("./imgs/background.png");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

a {
    color: orange;
    text-decoration: none;
}

.navbar {
    top: 0;
    position: sticky;
    width: 27%;
    margin: 0 auto;
    align-items: center;
    border-color: #111;
    border-style: groove;
    padding: 0rem 0rem 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    display: flex;
    justify-content: center;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.35s;
    transition: background-color 0.35s;
}

.navbar li a:hover {
    background-color: #111;
    color: orangered;
    border-color: #000;
}

footer {
    text-align: center;
    font-size: 1.35rem;
    margin-top: 10rem;
    color: white;
    position: static;
    bottom: 0;
}

.projects-card1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    justify-content: center;
}

.project {
    width: 22rem;
    height: 22rem;
    background-color: #222;
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
    border-color: #111;
    border-style: groove;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.35s;
}

.project:hover {
    background-color: #111;
    border-color: #000;
}
